[submodule "Lab1_blss/Lab1_business_logic_of_software_systems"]
	path = Lab1_blss/Lab1_business_logic_of_software_systems
	url = https://github.com/mysticslippers/Lab1_business_logic_of_software_systems.git
